datasets==2.16.1
diffusers==0.10.0
einops==0.7.0
lovely-tensors==0.1.15
numpy==1.26.3
opencv-python==4.9.0.80
pandas==2.1.4
Pillow==9.3.0
safetensors==0.4.1
scikit-learn==1.4.0
scipy==1.12.0
tokenizers==0.15.0
torch==2.1.2+cu121
torchvision==0.16.2+cu121
tqdm @ file:///croot/tqdm_1679561862951/work
transformers==4.36.2
wandb==0.16.2